In [1]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
first_sent = "Data Science is an Amazing career in the current world"
second_sent = "Deep learning is a subset of machine learning"

vocab =  set(first_sent.split()+second_sent.split())
vocab

{'Amazing',
 'Data',
 'Deep',
 'Science',
 'a',
 'an',
 'career',
 'current',
 'in',
 'is',
 'learning',
 'machine',
 'of',
 'subset',
 'the',
 'world'}

In [3]:
worddict1 = dict.fromkeys(vocab,0)
worddict2 = dict.fromkeys(vocab,0)
worddict1

{'is': 0,
 'career': 0,
 'learning': 0,
 'a': 0,
 'of': 0,
 'machine': 0,
 'in': 0,
 'Data': 0,
 'Amazing': 0,
 'Science': 0,
 'current': 0,
 'Deep': 0,
 'subset': 0,
 'the': 0,
 'an': 0,
 'world': 0}

In [6]:
for word in first_sent.split():
    worddict1[word] += 1
for word in second_sent.split():
    worddict2[word] += 1

In [7]:
df = pd.DataFrame([worddict1,worddict2])
df

,is,career,learning,a,of,machine,in,Data,Amazing,Science,current,Deep,subset,the,an,world
0,1,1,0,0,0,0,1,1,1,1,1,0,0,1,1,1
1,1,0,2,1,1,1,0,0,0,0,0,1,1,0,0,0

In [51]:
def calculateTF(worddict,term):
    tf_dict = {}
    n = len(term)
    for word,count in worddict.items():
        tf_dict[word] = count/n
    return tf_dict

In [52]:
tf1 = calculateTF(worddict1, first_sent.split())
tf2 = calculateTF(worddict2, second_sent.split())

In [55]:
tf2

{'is': 0.125,
 'career': 0.0,
 'learning': 0.25,
 'a': 0.125,
 'of': 0.125,
 'machine': 0.125,
 'in': 0.0,
 'Data': 0.0,
 'Amazing': 0.0,
 'Science': 0.0,
 'current': 0.0,
 'Deep': 0.125,
 'subset': 0.125,
 'the': 0.0,
 'an': 0.0,
 'world': 0.0}

In [56]:
tf = pd.DataFrame([tf1,tf2])
tf

,is,career,learning,a,of,machine,in,Data,Amazing,Science,current,Deep,subset,the,an,world
0,0.100,0.1,0.00,0.000,0.000,0.000,0.1,0.1,0.1,0.1,0.1,0.000,0.000,0.1,0.1,0.1
1,0.125,0.0,0.25,0.125,0.125,0.125,0.0,0.0,0.0,0.0,0.0,0.125,0.125,0.0,0.0,0.0

In [17]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
f1 = [word for word in worddict1 if word not in stopwords.words('english')]
f2 = [word for word in worddict2 if word not in stopwords.words('english')]

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/cirrusrays/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [18]:
f1

['career',
 'learning',
 'machine',
 'Data',
 'Amazing',
 'Science',
 'current',
 'Deep',
 'subset',
 'world']

In [66]:
import math
def calculate_IDF(doc):
    idfDict = {}
    n = len(doc)
    idfDict = dict.fromkeys(doc[0].keys(), 0)
    for word, count in idfDict.items():
        idfDict[word] = math.log10(n/(float(count)+1))
    return idfDict

In [67]:
idfs = calculate_IDF([worddict1, worddict2])

In [68]:
idfs

{'is': 0.3010299956639812,
 'career': 0.3010299956639812,
 'learning': 0.3010299956639812,
 'a': 0.3010299956639812,
 'of': 0.3010299956639812,
 'machine': 0.3010299956639812,
 'in': 0.3010299956639812,
 'Data': 0.3010299956639812,
 'Amazing': 0.3010299956639812,
 'Science': 0.3010299956639812,
 'current': 0.3010299956639812,
 'Deep': 0.3010299956639812,
 'subset': 0.3010299956639812,
 'the': 0.3010299956639812,
 'an': 0.3010299956639812,
 'world': 0.3010299956639812}

In [69]:
def compute_TF_IDF(tf,idfs):
    tf_idf = {}
    for word,val in tf.items():
        tf_idf[word] = val*idfs[word]
    return tf_idf

In [70]:
tf_idf1 = compute_TF_IDF(tf1, idfs)
tf_idf2 = compute_TF_IDF(tf2, idfs)

In [71]:
tf_idf2

{'is': 0.03762874945799765,
 'career': 0.0,
 'learning': 0.0752574989159953,
 'a': 0.03762874945799765,
 'of': 0.03762874945799765,
 'machine': 0.03762874945799765,
 'in': 0.0,
 'Data': 0.0,
 'Amazing': 0.0,
 'Science': 0.0,
 'current': 0.0,
 'Deep': 0.03762874945799765,
 'subset': 0.03762874945799765,
 'the': 0.0,
 'an': 0.0,
 'world': 0.0}

In [72]:
TF_IDF_df = pd.DataFrame([tf_idf1,tf_idf2])
TF_IDF_df

,is,career,learning,a,of,machine,in,Data,Amazing,Science,current,Deep,subset,the,an,world
0,0.030103,0.030103,0.000000,0.000000,0.000000,0.000000,0.030103,0.030103,0.030103,0.030103,0.030103,0.000000,0.000000,0.030103,0.030103,0.030103
1,0.037629,0.000000,0.075257,0.037629,0.037629,0.037629,0.000000,0.000000,0.000000,0.000000,0.000000,0.037629,0.037629,0.000000,0.000000,0.000000

### Sklearn

In [78]:
from sklearn.feature_extraction.text import TfidfVectorizer
first_sent = "Data Science is an Amazing career in the current world"
second_sent = "Deep learning is a subset of machine learning"
tfidf = TfidfVectorizer()
res = tfidf.fit_transform([first_sent, second_sent])
res.toarray()

array([[0.32433627, 0.32433627, 0.32433627, 0.32433627, 0.32433627,
        0.        , 0.32433627, 0.23076793, 0.        , 0.        ,
        0.        , 0.32433627, 0.        , 0.32433627, 0.32433627],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.34287126, 0.        , 0.24395573, 0.68574252, 0.34287126,
        0.34287126, 0.        , 0.34287126, 0.        , 0.        ]])

In [80]:
df = pd.DataFrame(res.toarray(), columns=tfidf.get_feature_names_out())
df

,amazing,an,career,current,data,deep,in,is,learning,machine,of,science,subset,the,world
0,0.324336,0.324336,0.324336,0.324336,0.324336,0.000000,0.324336,0.230768,0.000000,0.000000,0.000000,0.324336,0.000000,0.324336,0.324336
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.342871,0.000000,0.243956,0.685743,0.342871,0.342871,0.000000,0.342871,0.000000,0.000000